# Build output
dist
build

# Dependencies
node_modules

# Logs
*.log

# Cache
.cache
.eslintcache

# Environment variables
.env
.env.*

# Package files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Coverage directory
coverage 